* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#threejs-container {
    position: absolute;
    top: 0;
    left: 0;
}
/* The YouTube iframe overlay */
#yt-iframe {
    position: absolute;
    width: 320px;
    height: 180px;
    border: none;
}

#main-nav {
    position: fixed;
    top: 10%;
    left: 0;
    background: transparent;
    padding: 0;
    z-index: 2000;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    margin-left: 3rem;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s;
}

#main-nav.hidden{
    opacity: 0;
    z-index: -1;
}



#main-nav img {
    width: 100px;
    height: auto;
}

#main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: none;
}

#main-nav ul li {
    margin-bottom: 1rem;
}


#main-nav ul li button {
    background-color: transparent;
    color: #666;
    opacity: 1;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transform-origin: left center;
}

#main-nav ul li button p,
#main-nav ul li a p{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 2px 2px #939393;
    line-height: 1;
    margin: 0;
    text-align: left;
    width: 100%;
}

#back-btn {
    text-transform: uppercase;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    color: #333;
    opacity: 0;
    border: none;
    cursor: pointer;
    z-index: -1;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0 2px 2px #666;
    transition: opacity 0.75s;
    transition: transform 0.1s ease-in-out;
    transform-origin: left center;
    margin: 1rem;
}

#back-btn.shown {
    opacity: 1;
    z-index: 1000;
}

#back-btn:hover, .nav-btn:hover{
    transform: scale(1.1);
}


#playlist-container {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 40%;
    height: 90%;
    z-index: -1;
    box-sizing: border-box;
    background: transparent;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid white;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
}

#playlist-container.shown {
    opacity: 1;
    z-index: 1000;
}

.playlist-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    border-radius: 8px 8px 0 0;
    padding: 1rem;
}
.playlist-header img {
    width: 100px;
}

.playlist-inner {
    flex: 1;
    overflow-y: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    scroll-behavior: smooth;
    height: fit-content;
    backdrop-filter: blur(10px);         /* the blur effect */
    -webkit-backdrop-filter: blur(10px)
}

.playlist-inner::-webkit-scrollbar {
    width: 1rem;
}

.playlist-inner::-webkit-scrollbar-track {
    background: transparent;
}

.playlist-inner::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.playlist-inner {
    scrollbar-color: white transparent;
    scrollbar-width: 1.5rem;
}

.playlist-item {
    display: flex;
    margin: 1rem;
    cursor: pointer;
    border-radius: 8px;
    padding: none;
    background: rgba(255,255,255,0.7);
    transition: background 0.2s;
    height: 6rem;

}
.playlist-item:hover {
    background: rgba(0,0,0,0.05);
}
.playlist-item .thumb {
    width: 150px;
    height: auto;
    border-radius: 8px 0 0 8px;
}
.playlist-item .meta {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.playlist-item .title {
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    color: rgba(0, 0, 0, 0.7)
}

.small-text {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.playlist-item .channel,
.playlist-item .published {
    font-size: 0.75rem;
    color: #666;
}

.playlist-item .channel {
    margin-right: 1rem;
}


.lookbook-container {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
}

.lookbook-container.shown {
    opacity: 1;
    z-index: 10;
}

.lookbook-title {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.button-container button {
    padding: 2rem;
    margin: 1rem;
    background-color: transparent;
    color: #939393;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}


.cta-main {
    background-color: red;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
}

.cta-main:hover {
    background-color: #939393;
}

.left-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotateY(180deg) translateY(50%);
    border: none;
    background: transparent;
    color: #444;
}

.left-btn i, .right-btn i {
    font-size: 6rem;
    cursor: pointer;
}

.right-btn {
    position: absolute;
    right: 12%;
    top: 50%;
    transform: translateY(50%);
    color: #666;
    border: none;
    background: transparent;
}

#services-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    padding: 2rem;
    color: white;
    z-index: -1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

#services-panel.shown {
    opacity: 1;
    z-index: 10;
}
  
  .service {
    margin-bottom: 1.5rem;
  }
  
  .cta-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .cta-buttons button {
    padding: 0.75rem 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .cta-buttons button:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  

  .services-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
    width: 100%;
  }
  
  .left-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
  }

  .left-container p {
    color: #333;
    text-align: center;
  }
  
  .service-list {
    list-style: none;
    padding: 0;
  }
  
  .service-item {
    margin-bottom: 1.5rem;
    color: #333;
    border-bottom: 0.1px solid rgba(0,0,0,0.1);
  }
  
  .service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .service-header h3{
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  
  .expand-btn {
    background: none;
    border: none;
    color: #333;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1.4rem;
  }
  
  .service-info {
    margin-top: 0.5rem;
    display: none; /* hidden by default */
    color:#333;
    list-style:disc;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  
  .right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* position: relative; */
    height: 100%;
  }
  
  .right-container img {
    width: 230px;
    border-radius: 12px;
    object-fit: cover;
    margin: 0 auto;
    object-fit: cover;
  }

  /* Position each image */
.right-container img:nth-child(1) {
    top: 0;
    left: 0;
    transform: rotate(-2.5deg) translateY(25%);
  }
  
  .right-container img:nth-child(2) {
    top: 20px;
    left: 80px;
    transform: rotate(2deg) translateX(50%);
  }
  
  .right-container img:nth-child(3) {
    top: 140px;
    left: 40px;
    transform: rotate(-4deg) translateY(-40%);
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #666;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
  }

  .footer.hidden {
    opacity: 0;
    z-index: -1;
  }

  .socials i{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: #666;
    transition: all 0.1s ease-in-out;
  }

  .socials i:hover {
    transform: scale(1.2);
}
